* {
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
}

.title {
    margin: 0;
    padding: 10rem;
}

.title.olivye {
    background-color: rgba(30, 143, 255, 0.493);
}

.content {
    width: 75%;
    max-width: 750px;
    margin: 0 auto;
}

h1, h2 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
    list-style: none;
    line-height: 2rem;
}

input[type="checkbox"] {
    margin-right: 1rem;
    accent-color: #8db600;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #8db600
}

nav {
    text-align: center;
    padding: 5rem;
    font-size: 2rem;
    margin-top: 4rem;
}

nav.olivye {
    background-color: rgba(30, 143, 255, 0.493);
}

nav a {
    color: black;
}

nav a:hover {
    color: white;
}