:root {
    --green: #23424a;
    --weaker-green: #23424a50;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}

header, footer {
    width: 100%;
    background-color: var(--green);
    color: white;
}

header {
    margin-bottom: .5rem;
}

footer {
    margin-top: 1.5rem;
}

.container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    padding: 3rem 0;
}

.flex-container {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    width: 80%;
}

.recipe {
    margin: 0 auto;
    width: 50%;
}

.content {
    background-color: var(--weaker-green);
    padding: .5rem;
    margin: -1rem auto 0 auto;
}

img, .content {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

img {
    margin-top: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.intro h1 {
    font-size: 3rem;
}

a {
    color: var(--green);
}

.olivye a:hover {
    color: dodgerblue;
}

.stirfry a:hover {
    color: tomato;
}

.mojito a:hover {
    color: yellowgreen;
}

p {
    font-size: 1.5rem;
}